<div class="ui secondary pointing menu">
  <a class="item">
    <%= link_to 'Patients', patients_path %>
  </a>
  <a class="item">
    <%= link_to 'Add Patient', new_patient_path %>
  </a>
  <a class="item active">
    <%= link_to 'Physicians', physicians_path %>
  </a>
  <a class="item active">
    <%= link_to 'Add Physician', new_physician_path %>
  </a>
</div>